/*
Theme Name: Oevertrans
Author: commefort
Author URI: https://www.commefort.com
Description: Thema voor oevertrans.be
Version: 1.0
Text Domain: oevertrans
*/

@import url('stylesheets/framework.css');
@import url('stylesheets/style.css');
@import url('stylesheets/skins.css');
@import url('stylesheets/fontello.css');
@import url('stylesheets/font-awesome.css');

/* formulier label verbergen */
.gfield_label{
    display: none;
}

ul#gform_fields_1 {
    list-style-type: none;
}

.gform_footer.top_label {
    padding-left: 1.07143rem;
}

.gfield_description.validation_message {
    margin-top: -25px;
    margin-bottom: 30px;
    color: red;
}

.validation_error {
    margin-bottom: 30px;
    color: red;
    font-size: 18px;
}

.text-shadow-pls{
    text-shadow: 1px 1px #444 !important;
}

div.medium-6 a{color: #5b9036 !important;}
div.medium-6 a:hover{color: #302373 !important;}

a.route{
    position: relative;
    display: block;
    top: 10px;
    color: #5b9036;
    margin-bottom: 30px;
}

a.route:hover{
    color: #302373;
}